body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  img {
    max-width: 50px;
    height: auto;
  }

  form{
    text-align: center;
    
    
}
.login-form{
    margin: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 150px;
    width: 747.768px;
     height: 713.465px;
    flex-shrink: 0;
    border-radius: 15px;
border: 3px solid #000;

background: #FFF;
}
.sign-in{
    margin-top: 50px;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    color: #000;
   font-family: Roboto;
   font-size: 35px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   margin-top: 20px;
}
.box{
    width: 576.569px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
border: 1px solid #D0D0D0;
background: #FFF;
color: #9C9C9C;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 10px;
}

.sign-in{
    width: 576.569px;
    height: 49.649px;
    flex-shrink: 0;
    border-radius: 5px;
     border: 1px solid #D0D0D0;
     background: #FFFAF9;
      
     color: #000;
     font-family: Roboto;
     font-size: 22px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;

}

.sign a{
     color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}


/*create account*/
#category{
    height: 40px;
    width: 100px;
    font-family: roboto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.submit{
    width: 576.569px;
    height: 49.649px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D0D0D0;
    background: #E9313B;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;
    font-weight: 700;
    font-size: 15px;
}
.cancel{
    width: 576.569px;
    height: 49.649px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D0D0D0;
    color:#E9313B;
    font-weight: 700;
    font-size: 15px;
}